openapi: 3.1.0

info:
    title: AuthFramework REST API
    description: |
        Comprehensive REST API for the AuthFramework authentication and authorization library.

        This API provides complete access to AuthFramework's authentication, authorization,
        user management, multi-factor authentication, OAuth 2.0, OIDC, RBAC, and administrative 
        features through standardized HTTP endpoints.

        ## Version Strategy

        - **Versioned endpoints** (`/api/v1/*`): All functional API endpoints are versioned
          for stability and backward compatibility. Version changes follow semantic versioning.

        - **Unversioned endpoints**: Infrastructure endpoints (`/health`, `/metrics`, `/readiness`, 
          `/liveness`) and OIDC discovery (`/.well-known/*`) remain unversioned for operational 
          stability and spec compliance.

        ## Authentication

        Most endpoints require authentication via Bearer tokens in the Authorization header:
        ```
        Authorization: Bearer <your-access-token>
        ```

        Obtain tokens via:
        - `/api/v1/auth/login` - Username/password authentication
        - `/api/v1/oauth/token` - OAuth 2.0 token endpoint
        - `/api/v1/auth/refresh` - Refresh token flow

        ## Rate Limiting

        API endpoints are rate-limited to prevent abuse:
        - Authentication endpoints: 5 requests per minute per IP
        - Standard endpoints: 100 requests per minute per user
        - Admin endpoints: 50 requests per minute per admin user

        Rate limit information is included in response headers:
        - `X-RateLimit-Limit`: Request limit per time window
        - `X-RateLimit-Remaining`: Remaining requests in current window
        - `X-RateLimit-Reset`: Unix timestamp when rate limit resets

        ## Response Format

        All successful responses use a standard envelope:
        ```json
        {
          "success": true,
          "data": { ... },
          "timestamp": "2024-01-20T15:30:45Z"
        }
        ```

        All error responses use a standard envelope:
        ```json
        {
          "success": false,
          "error": {
            "code": "INVALID_CREDENTIALS",
            "message": "The provided credentials are invalid",
            "details": { ... }
          },
          "timestamp": "2024-01-20T15:30:45Z"
        }
        ```

        ## Pagination

        List endpoints support pagination with query parameters:
        - `page`: Page number (1-based, default: 1)
        - `limit`: Items per page (default: 20, max: 100)
        - `sort`: Sort field and direction (e.g., "created_at:desc")

        Paginated responses include metadata:
        ```json
        {
          "success": true,
          "data": {
            "items": [ ... ],
            "pagination": {
              "page": 1,
              "limit": 20,
              "total": 150,
              "total_pages": 8,
              "has_next": true,
              "has_prev": false
            }
          },
          "timestamp": "2024-01-20T15:30:45Z"
        }
        ```

        ## Feature Flags

        Some endpoints require specific compile-time features:
        - **RBAC endpoints** (`/api/v1/rbac/*`): Requires `enhanced-rbac` feature
        - **API Server**: All endpoints require `api-server` feature

        ## Security

        - **TLS Required**: All endpoints must be accessed over HTTPS in production
        - **CORS**: Configurable CORS policies for web clients
        - **CSRF Protection**: State parameter required for OAuth flows
        - **Rate Limiting**: Automatic rate limiting with backoff
        - **Audit Logging**: All admin and RBAC operations are logged

        ## Standards Compliance

        - **OAuth 2.0**: RFC 6749 (Authorization Framework)
        - **PKCE**: RFC 7636 (Proof Key for Code Exchange)
        - **Token Revocation**: RFC 7009
        - **Token Introspection**: RFC 7662
        - **Token Exchange**: RFC 8693
        - **OpenID Connect**: OIDC Core 1.0
        - **OIDC Discovery**: RFC 8414
        - **JWT**: RFC 7519
        - **JWK**: RFC 7517

    version: 1.0.0
    contact:
        name: AuthFramework Support
        url: https://github.com/ciresnave/AuthFramework
        email: support@authframework.dev
    license:
        name: MIT
        url: https://opensource.org/licenses/MIT

servers:
    - url: https://api.authframework.dev
      description: Production server
    - url: https://staging-api.authframework.dev
      description: Staging server
    - url: http://localhost:8080
      description: Development server

tags:
    - name: Health
      description: Health monitoring and metrics endpoints (unversioned)
    - name: Authentication
      description: User authentication and token management
    - name: Users
      description: User profile and account management
    - name: MFA
      description: Multi-factor authentication setup and management
    - name: OAuth 2.0
      description: OAuth 2.0 authorization server endpoints (includes advanced RFCs)
    - name: OpenID Connect
      description: OpenID Connect provider endpoints
    - name: Device Flow
      description: OAuth 2.0 Device Authorization Grant (RFC 8628)
    - name: Client Management
      description: Dynamic client registration and management (RFC 7591)
    - name: RBAC
      description: Role-Based Access Control (requires enhanced-rbac feature)
    - name: Admin
      description: Administrative endpoints (requires admin role)
    - name: Security
      description: Advanced security features and threat intelligence
    - name: Health & Monitoring
      description: Extended health checks and dependency monitoring

paths:
    # Infrastructure endpoints (UNVERSIONED)
    /health:
        $ref: "./paths/health.yaml#/health"
    /health/detailed:
        $ref: "./paths/health.yaml#/healthDetailed"
    /health/dependencies:
        $ref: "./paths/health_extended.yaml#/~1api~1v1~1health~1dependencies"
    /readiness:
        $ref: "./paths/health.yaml#/readiness"
    /liveness:
        $ref: "./paths/health.yaml#/liveness"
    /metrics:
        $ref: "./paths/health.yaml#/metrics"

    # OIDC Discovery (UNVERSIONED per spec)
    /.well-known/openid-configuration:
        $ref: "./paths/oauth.yaml#/wellKnownOpenidConfiguration"

    # Authentication endpoints (VERSIONED)
    /api/v1/auth/login:
        $ref: "./paths/auth.yaml#/login"
    /api/v1/auth/refresh:
        $ref: "./paths/auth.yaml#/refresh"
    /api/v1/auth/logout:
        $ref: "./paths/auth.yaml#/logout"
    /api/v1/auth/validate:
        $ref: "./paths/auth.yaml#/validate"

    # User management endpoints (VERSIONED)
    /api/v1/users/profile:
        $ref: "./paths/users.yaml#/profile"
    /api/v1/users/password:
        $ref: "./paths/users.yaml#/password"

    # MFA endpoints (VERSIONED)
    /api/v1/mfa/setup:
        $ref: "./paths/mfa.yaml#/setup"
    /api/v1/mfa/verify:
        $ref: "./paths/mfa.yaml#/verify"
    /api/v1/mfa/disable:
        $ref: "./paths/mfa.yaml#/disable"
    /api/v1/mfa/status:
        $ref: "./paths/mfa.yaml#/status"
    /api/v1/mfa/backup-codes:
        $ref: "./paths/mfa.yaml#/regenerateBackupCodes"

    # OAuth 2.0 endpoints (VERSIONED)
    /api/v1/oauth/authorize:
        $ref: "./paths/oauth.yaml#/authorize"
    /api/v1/oauth/token:
        $ref: "./paths/oauth.yaml#/token"
    /api/v1/oauth/revoke:
        $ref: "./paths/oauth.yaml#/revoke"
    /api/v1/oauth/introspect:
        $ref: "./paths/oauth_advanced.yaml#/~1api~1v1~1oauth~1introspect"
    /api/v1/oauth/token-exchange:
        $ref: "./paths/oauth.yaml#/tokenExchange"

    # OAuth 2.0 Advanced - PAR (RFC 9126)
    /api/v1/oauth/par:
        $ref: "./paths/oauth_advanced.yaml#/~1api~1v1~1oauth~1par"

    # OAuth 2.0 Advanced - Device Flow (RFC 8628)
    /api/v1/oauth/device/code:
        $ref: "./paths/oauth_advanced.yaml#/~1api~1v1~1oauth~1device~1code"
    /api/v1/oauth/device/token:
        $ref: "./paths/oauth_advanced.yaml#/~1api~1v1~1oauth~1device~1token"

    # OAuth 2.0 Advanced - OIDC Logout
    /api/v1/oauth/logout:
        $ref: "./paths/oauth_advanced.yaml#/~1api~1v1~1oauth~1logout"
    /api/v1/oauth/backchannel-logout:
        $ref: "./paths/oauth_advanced.yaml#/~1api~1v1~1oauth~1backchannel-logout"

    # OAuth 2.0 Advanced - Dynamic Client Registration (RFC 7591)
    /api/v1/oauth/register:
        $ref: "./paths/oauth_advanced.yaml#/~1api~1v1~1oauth~1register"
    /api/v1/oauth/register/{client_id}:
        $ref: "./paths/oauth_advanced.yaml#/~1api~1v1~1oauth~1register~1{client_id}"

    # OIDC endpoints (VERSIONED)
    /api/v1/oauth/jwks:
        $ref: "./paths/oauth.yaml#/jwks"
    /api/v1/oauth/userinfo:
        $ref: "./paths/oauth.yaml#/userinfo"

    # Security endpoints (VERSIONED)
    /api/v1/security/check-ip:
        $ref: "./paths/security.yaml#/~1api~1v1~1security~1check-ip"

    # RBAC endpoints (VERSIONED, requires enhanced-rbac feature)
    /api/v1/rbac/roles:
        $ref: "./paths/rbac.yaml#/roles"
    /api/v1/rbac/roles/{role_name}:
        $ref: "./paths/rbac.yaml#/roleById"
    /api/v1/rbac/users/{user_id}/roles:
        $ref: "./paths/rbac.yaml#/userRoles"
    /api/v1/rbac/assign:
        $ref: "./paths/rbac.yaml#/assignUserRole"
    /api/v1/rbac/revoke:
        $ref: "./paths/rbac.yaml#/revokeUserRole"
    /api/v1/rbac/bulk-assign:
        $ref: "./paths/rbac.yaml#/bulkAssignRoles"
    /api/v1/rbac/check-permission:
        $ref: "./paths/rbac.yaml#/checkPermission"
    /api/v1/rbac/elevate:
        $ref: "./paths/rbac.yaml#/elevateRole"
    /api/v1/rbac/audit-logs:
        $ref: "./paths/rbac.yaml#/auditLogs"

    # Admin endpoints (VERSIONED, requires admin role)
    /api/v1/admin/users:
        $ref: "./paths/admin.yaml#/users"
    /api/v1/admin/users/{user_id}:
        $ref: "./paths/admin.yaml#/userById"
    /api/v1/admin/stats:
        $ref: "./paths/admin.yaml#/stats"
    /api/v1/admin/events:
        $ref: "./paths/admin.yaml#/events"
    /api/v1/admin/config:
        $ref: "./paths/admin.yaml#/config"
    /api/v1/admin/backup:
        $ref: "./paths/admin.yaml#/backup"

components:
    securitySchemes:
        $ref: "./components/security.yaml"

    parameters:
        PageParam:
            $ref: "./components/parameters.yaml#/PageParam"
        LimitParam:
            $ref: "./components/parameters.yaml#/LimitParam"
        SortParam:
            $ref: "./components/parameters.yaml#/SortParam"
        FilterParam:
            $ref: "./components/parameters.yaml#/FilterParam"

    responses:
        BadRequest:
            $ref: "./components/responses.yaml#/BadRequest"
        Unauthorized:
            $ref: "./components/responses.yaml#/Unauthorized"
        Forbidden:
            $ref: "./components/responses.yaml#/Forbidden"
        NotFound:
            $ref: "./components/responses.yaml#/NotFound"
        Conflict:
            $ref: "./components/responses.yaml#/Conflict"
        RateLimit:
            $ref: "./components/responses.yaml#/RateLimit"
        InternalServerError:
            $ref: "./components/responses.yaml#/InternalServerError"

    schemas:
        # Common schemas
        ApiResponse:
            $ref: "./schemas/common.yaml#/ApiResponse"
        ApiError:
            $ref: "./schemas/common.yaml#/ApiError"
        Pagination:
            $ref: "./schemas/common.yaml#/Pagination"
        PaginatedResponse:
            $ref: "./schemas/common.yaml#/PaginatedResponse"

        # Health schemas
        HealthStatus:
            $ref: "./schemas/health.yaml#/HealthStatus"
        ReadinessStatus:
            $ref: "./schemas/health.yaml#/ReadinessStatus"
        LivenessStatus:
            $ref: "./schemas/health.yaml#/LivenessStatus"
        DetailedHealthStatus:
            $ref: "./schemas/health.yaml#/DetailedHealthStatus"

        # Authentication schemas
        LoginRequest:
            $ref: "./schemas/auth.yaml#/LoginRequest"
        LoginResponse:
            $ref: "./schemas/auth.yaml#/LoginResponse"
        RefreshTokenRequest:
            $ref: "./schemas/auth.yaml#/RefreshTokenRequest"
        TokenResponse:
            $ref: "./schemas/auth.yaml#/TokenResponse"
        UserInfo:
            $ref: "./schemas/auth.yaml#/UserInfo"
        TokenValidationResponse:
            $ref: "./schemas/auth.yaml#/TokenValidationResponse"

        # User schemas
        UserProfile:
            $ref: "./schemas/users.yaml#/UserProfile"
        UpdateProfileRequest:
            $ref: "./schemas/users.yaml#/UpdateProfileRequest"
        ChangePasswordRequest:
            $ref: "./schemas/users.yaml#/ChangePasswordRequest"
        CreateUserRequest:
            $ref: "./schemas/users.yaml#/CreateUserRequest"
        UpdateUserRequest:
            $ref: "./schemas/users.yaml#/UpdateUserRequest"
        UserListResponse:
            $ref: "./schemas/users.yaml#/UserListResponse"

        # MFA schemas
        MFASetupResponse:
            $ref: "./schemas/mfa.yaml#/MFASetupResponse"
        MFAVerifyRequest:
            $ref: "./schemas/mfa.yaml#/MFAVerifyRequest"
        MFAVerifyResponse:
            $ref: "./schemas/mfa.yaml#/MFAVerifyResponse"
        DisableMFARequest:
            $ref: "./schemas/mfa.yaml#/DisableMFARequest"
        MFAStatusResponse:
            $ref: "./schemas/mfa.yaml#/MFAStatusResponse"
        RegenerateBackupCodesResponse:
            $ref: "./schemas/mfa.yaml#/RegenerateBackupCodesResponse"

        # OAuth schemas
        OAuthTokenRequest:
            $ref: "./schemas/oauth.yaml#/OAuthTokenRequest"
        OAuthTokenResponse:
            $ref: "./schemas/oauth.yaml#/OAuthTokenResponse"
        RevokeTokenRequest:
            $ref: "./schemas/oauth.yaml#/RevokeTokenRequest"
        IntrospectTokenRequest:
            $ref: "./schemas/oauth.yaml#/IntrospectTokenRequest"
        TokenIntrospectionResponse:
            $ref: "./schemas/oauth.yaml#/TokenIntrospectionResponse"
        OidcDiscoveryDocument:
            $ref: "./schemas/oauth.yaml#/OidcDiscoveryDocument"
        JwkSet:
            $ref: "./schemas/oauth.yaml#/JwkSet"
        Jwk:
            $ref: "./schemas/oauth.yaml#/Jwk"
        UserInfoResponse:
            $ref: "./schemas/oauth.yaml#/UserInfoResponse"

        # RBAC schemas
        Role:
            $ref: "./schemas/rbac.yaml#/Role"
        CreateRoleRequest:
            $ref: "./schemas/rbac.yaml#/CreateRoleRequest"
        UpdateRoleRequest:
            $ref: "./schemas/rbac.yaml#/UpdateRoleRequest"
        AssignRoleRequest:
            $ref: "./schemas/rbac.yaml#/AssignRoleRequest"
        BulkAssignRolesRequest:
            $ref: "./schemas/rbac.yaml#/BulkAssignRolesRequest"
        CheckPermissionRequest:
            $ref: "./schemas/rbac.yaml#/CheckPermissionRequest"
        CheckPermissionResponse:
            $ref: "./schemas/rbac.yaml#/CheckPermissionResponse"
        ElevateRoleRequest:
            $ref: "./schemas/rbac.yaml#/ElevateRoleRequest"
        RoleAssignment:
            $ref: "./schemas/rbac.yaml#/RoleAssignment"
        AuditLogEntry:
            $ref: "./schemas/rbac.yaml#/AuditLogEntry"
        RoleListResponse:
            $ref: "./schemas/rbac.yaml#/RoleListResponse"
        AuditLogResponse:
            $ref: "./schemas/rbac.yaml#/AuditLogResponse"

        # Admin schemas
        SystemStats:
            $ref: "./schemas/admin.yaml#/SystemStats"
        SystemEvent:
            $ref: "./schemas/admin.yaml#/SystemEvent"
        ConfigurationUpdate:
            $ref: "./schemas/admin.yaml#/ConfigurationUpdate"
        BackupRequest:
            $ref: "./schemas/admin.yaml#/BackupRequest"
        BackupResponse:
            $ref: "./schemas/admin.yaml#/BackupResponse"
        SystemEventLogResponse:
            $ref: "./schemas/admin.yaml#/SystemEventLogResponse"

security:
    - bearerAuth: []
