openapi: 3.1.0
info:
  title: AuthFramework REST API
  description: |
    Comprehensive REST API for the AuthFramework authentication and authorization library.

    This API provides complete access to AuthFramework's authentication, authorization,
    user management, multi-factor authentication, OAuth 2.0, OIDC, RBAC, and administrative 
    features through standardized HTTP endpoints.

    ## Version Strategy

    - **Versioned endpoints** (`/api/v1/*`): All functional API endpoints are versioned
      for stability and backward compatibility. Version changes follow semantic versioning.

    - **Unversioned endpoints**: Infrastructure endpoints (`/health`, `/metrics`, `/readiness`, 
      `/liveness`) and OIDC discovery (`/.well-known/*`) remain unversioned for operational 
      stability and spec compliance.

    ## Authentication

    Most endpoints require authentication via Bearer tokens in the Authorization header:
    ```
    Authorization: Bearer <your-access-token>
    ```

    Obtain tokens via:
    - `/api/v1/auth/login` - Username/password authentication
    - `/api/v1/oauth/token` - OAuth 2.0 token endpoint
    - `/api/v1/auth/refresh` - Refresh token flow

    ## Rate Limiting

    API endpoints are rate-limited to prevent abuse:
    - Authentication endpoints: 5 requests per minute per IP
    - Standard endpoints: 100 requests per minute per user
    - Admin endpoints: 50 requests per minute per admin user

    Rate limit information is included in response headers:
    - `X-RateLimit-Limit`: Request limit per time window
    - `X-RateLimit-Remaining`: Remaining requests in current window
    - `X-RateLimit-Reset`: Unix timestamp when rate limit resets

    ## Response Format

    All successful responses use a standard envelope:
    ```json
    {
      "success": true,
      "data": { ... },
      "timestamp": "2024-01-20T15:30:45Z"
    }
    ```

    All error responses use a standard envelope:
    ```json
    {
      "success": false,
      "error": {
        "code": "INVALID_CREDENTIALS",
        "message": "The provided credentials are invalid",
        "details": { ... }
      },
      "timestamp": "2024-01-20T15:30:45Z"
    }
    ```

    ## Pagination

    List endpoints support pagination with query parameters:
    - `page`: Page number (1-based, default: 1)
    - `limit`: Items per page (default: 20, max: 100)
    - `sort`: Sort field and direction (e.g., "created_at:desc")

    Paginated responses include metadata:
    ```json
    {
      "success": true,
      "data": {
        "items": [ ... ],
        "pagination": {
          "page": 1,
          "limit": 20,
          "total": 150,
          "total_pages": 8,
          "has_next": true,
          "has_prev": false
        }
      },
      "timestamp": "2024-01-20T15:30:45Z"
    }
    ```

    ## Feature Flags

    Some endpoints require specific compile-time features:
    - **RBAC endpoints** (`/api/v1/rbac/*`): Requires `enhanced-rbac` feature
    - **API Server**: All endpoints require `api-server` feature

    ## Security

    - **TLS Required**: All endpoints must be accessed over HTTPS in production
    - **CORS**: Configurable CORS policies for web clients
    - **CSRF Protection**: State parameter required for OAuth flows
    - **Rate Limiting**: Automatic rate limiting with backoff
    - **Audit Logging**: All admin and RBAC operations are logged

    ## Standards Compliance

    - **OAuth 2.0**: RFC 6749 (Authorization Framework)
    - **PKCE**: RFC 7636 (Proof Key for Code Exchange)
    - **Token Revocation**: RFC 7009
    - **Token Introspection**: RFC 7662
    - **Token Exchange**: RFC 8693
    - **OpenID Connect**: OIDC Core 1.0
    - **OIDC Discovery**: RFC 8414
    - **JWT**: RFC 7519
    - **JWK**: RFC 7517
  version: 1.0.0
  contact:
    name: AuthFramework Support
    url: https://github.com/ciresnave/AuthFramework
    email: support@authframework.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.authframework.dev
    description: Production server
  - url: https://staging-api.authframework.dev
    description: Staging server
  - url: http://localhost:8080
    description: Development server
security:
  - bearerAuth: []
tags:
  - name: Health
    description: Health monitoring and metrics endpoints (unversioned)
  - name: Authentication
    description: User authentication and token management
  - name: Users
    description: User profile and account management
  - name: MFA
    description: Multi-factor authentication setup and management
  - name: OAuth 2.0
    description: OAuth 2.0 authorization server endpoints (includes advanced RFCs)
  - name: OpenID Connect
    description: OpenID Connect provider endpoints
  - name: Device Flow
    description: OAuth 2.0 Device Authorization Grant (RFC 8628)
  - name: Client Management
    description: Dynamic client registration and management (RFC 7591)
  - name: RBAC
    description: Role-Based Access Control (requires enhanced-rbac feature)
  - name: Admin
    description: Administrative endpoints (requires admin role)
  - name: Security
    description: Advanced security features and threat intelligence
  - name: Health & Monitoring
    description: Extended health checks and dependency monitoring
paths:
  /health:
    get:
      tags:
        - Health
      summary: Basic health check
      description: |
        Returns basic service health status. This endpoint is unversioned for stability 
        with deployment tools (Kubernetes, load balancers, monitoring systems).
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/HealthStatus'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /health/detailed:
    get:
      tags:
        - Health
      summary: Detailed health check
      description: |
        Returns detailed service health including dependency status (database, cache, storage).
        Provides response times and error information for troubleshooting.
      operationId: detailedHealthCheck
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DetailedHealthStatus'
        '503':
          description: Service is unhealthy or degraded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /health/dependencies:
    get:
      summary: Check Dependency Health
      description: |
        Comprehensive health check of all external dependencies and internal services.
        Useful for monitoring systems, troubleshooting, and ensuring system reliability.

        **Checks Performed**:
        - Storage backend connectivity and performance
        - Rate limiter functionality
        - Token manager operations
        - MFA services
        - OAuth/OIDC providers
        - External threat intelligence feeds (if enabled)
        - Cache systems (if configured)

        **Security**: Requires authentication. Returns sanitized information (no secrets).
      operationId: checkDependencies
      tags:
        - Health & Monitoring
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dependency health check completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - healthy
                      - degraded
                      - unhealthy
                    description: Overall dependency health status
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
                    description: Check timestamp
                    example: '2025-10-01T12:00:00Z'
                  dependencies:
                    type: object
                    description: Health status of each dependency
                    additionalProperties:
                      type: object
                      properties:
                        status:
                          type: string
                          enum:
                            - healthy
                            - degraded
                            - unhealthy
                            - unknown
                          description: Dependency status
                          example: healthy
                        response_time_ms:
                          type: integer
                          description: Response time in milliseconds
                          example: 5
                        last_check:
                          type: string
                          format: date-time
                          description: Last successful check timestamp
                          example: '2025-10-01T12:00:00Z'
                        error:
                          type: string
                          description: Error message if unhealthy
                          example: Connection timeout
                        details:
                          type: object
                          description: Additional dependency-specific details
                          properties:
                            version:
                              type: string
                              example: 1.0.0
                            connection_pool_size:
                              type: integer
                              example: 10
                            active_connections:
                              type: integer
                              example: 3
                        required:
                          - status
                          - response_time_ms
                          - last_check
                  summary:
                    type: object
                    properties:
                      total_dependencies:
                        type: integer
                        description: Total number of dependencies checked
                        example: 7
                      healthy_count:
                        type: integer
                        description: Number of healthy dependencies
                        example: 6
                      degraded_count:
                        type: integer
                        description: Number of degraded dependencies
                        example: 1
                      unhealthy_count:
                        type: integer
                        description: Number of unhealthy dependencies
                        example: 0
                required:
                  - status
                  - timestamp
                  - dependencies
                  - summary
              example:
                status: healthy
                timestamp: '2025-10-01T12:00:00Z'
                dependencies:
                  storage:
                    status: healthy
                    response_time_ms: 5
                    last_check: '2025-10-01T12:00:00Z'
                    details:
                      type: postgres
                      version: '14.5'
                      connection_pool_size: 20
                      active_connections: 3
                  rate_limiter:
                    status: healthy
                    response_time_ms: 1
                    last_check: '2025-10-01T12:00:00Z'
                    details:
                      type: redis
                      requests_per_minute: 1250
                  token_manager:
                    status: healthy
                    response_time_ms: 2
                    last_check: '2025-10-01T12:00:00Z'
                    details:
                      active_tokens: 150
                      tokens_issued_today: 450
                  mfa_service:
                    status: healthy
                    response_time_ms: 3
                    last_check: '2025-10-01T12:00:00Z'
                    details:
                      totp_verifications_today: 89
                  oauth_provider:
                    status: healthy
                    response_time_ms: 8
                    last_check: '2025-10-01T12:00:00Z'
                    details:
                      active_clients: 12
                      tokens_issued_today: 230
                  threat_intelligence:
                    status: degraded
                    response_time_ms: 1500
                    last_check: '2025-10-01T11:55:00Z'
                    error: Feed update delayed
                    details:
                      last_successful_update: '2025-10-01T10:00:00Z'
                      feeds_enabled: 3
                      feeds_healthy: 2
                  cache:
                    status: healthy
                    response_time_ms: 1
                    last_check: '2025-10-01T12:00:00Z'
                    details:
                      type: redis
                      hit_rate_percent: 92.5
                      memory_used_mb: 128
                summary:
                  total_dependencies: 7
                  healthy_count: 6
                  degraded_count: 1
                  unhealthy_count: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /readiness:
    get:
      tags:
        - Health
      summary: Readiness check
      description: |
        Kubernetes readiness probe endpoint. Returns whether the service is ready to 
        accept traffic. Checks critical dependencies like database connectivity.
      operationId: readinessCheck
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ReadinessStatus'
        '503':
          description: Service is not ready
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiError'
                  - type: object
                    properties:
                      error:
                        properties:
                          code:
                            example: NOT_READY
  /liveness:
    get:
      tags:
        - Health
      summary: Liveness check
      description: |
        Kubernetes liveness probe endpoint. Returns whether the service is alive and 
        should not be restarted. Checks basic process health without dependency checks.
      operationId: livenessCheck
      responses:
        '200':
          description: Service is alive
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LivenessStatus'
        '503':
          description: Service is not alive (should be restarted)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /metrics:
    get:
      tags:
        - Health
      summary: Prometheus metrics
      description: |
        Returns Prometheus-formatted metrics for monitoring and alerting.
        This endpoint is unversioned for compatibility with Prometheus scrapers.
      operationId: getMetrics
      responses:
        '200':
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # HELP auth_requests_total Total number of authentication requests
                  # TYPE auth_requests_total counter
                  auth_requests_total{method="login"} 1234
                  # HELP auth_active_sessions Current number of active sessions
                  # TYPE auth_active_sessions gauge
                  auth_active_sessions 450
  /.well-known/openid-configuration:
    get:
      tags:
        - OAuth
        - OIDC
      summary: OpenID Connect discovery
      description: |
        OpenID Connect discovery endpoint (RFC 8414). Returns OIDC provider configuration 
        including endpoints, supported features, and capabilities. This endpoint is 
        UNVERSIONED per OIDC specification (must be at /.well-known/openid-configuration).
      operationId: oidcDiscovery
      responses:
        '200':
          description: OIDC discovery document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OidcDiscoveryDocument'
  /api/v1/auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: |
        Authenticate user with username/password and return access and refresh tokens.
        Supports optional MFA verification and "remember me" functionality.
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              basic:
                summary: Basic login
                value:
                  username: user@example.com
                  password: SecurePassword123!
                  remember_me: false
              withMFA:
                summary: Login with MFA
                value:
                  username: user@example.com
                  password: SecurePassword123!
                  mfa_code: '123456'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimit'
  /api/v1/auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: |
        Use a valid refresh token to obtain a new access token without re-authentication.
        The refresh token remains valid unless explicitly revoked.
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: |
        Invalidate current session and revoke access and refresh tokens.
        Requires valid access token in Authorization header.
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Successfully logged out
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/auth/validate:
    post:
      tags:
        - Authentication
      summary: Validate access token
      description: |
        Validate an access token and return associated user information.
        Use this endpoint to verify token validity and fetch current user context.
      operationId: validateToken
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TokenValidationResponse'
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/users/profile:
    get:
      tags:
        - Users
      summary: Get user profile
      description: Get current authenticated user's complete profile information
      operationId: getUserProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
        - Users
      summary: Update user profile
      description: |
        Update current user's profile information. Only provided fields will be updated.
        Some fields like username and email may require additional verification.
      operationId: updateUserProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/users/password:
    post:
      tags:
        - Users
      summary: Change password
      description: |
        Change current user's password. Requires current password for verification.
        New password must meet complexity requirements.
      operationId: changePassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Password successfully changed
        '400':
          description: Invalid password or doesn't meet requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/mfa/setup:
    post:
      tags:
        - MFA
      summary: Setup MFA (TOTP)
      description: |
        Initialize MFA setup for current user. Returns QR code, secret key, and backup codes.
        User must complete setup by verifying with /mfa/verify endpoint within 5 minutes.
      operationId: setupMFA
      security:
        - bearerAuth: []
      responses:
        '200':
          description: MFA setup information generated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MFASetupResponse'
        '400':
          description: MFA already enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                success: false
                error:
                  code: MFA_ALREADY_ENABLED
                  message: MFA is already enabled for this account
                  details: null
                timestamp: '2024-01-20T15:30:45Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/mfa/verify:
    post:
      tags:
        - MFA
      summary: Verify and enable MFA
      description: |
        Verify TOTP code to complete MFA setup. Once verified, MFA will be required 
        for all future logins. Backup codes can also be used for verification.
      operationId: verifyMFA
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MFAVerifyRequest'
      responses:
        '200':
          description: MFA verified and enabled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MFAVerifyResponse'
        '400':
          description: Invalid or expired code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                success: false
                error:
                  code: INVALID_MFA_CODE
                  message: The provided MFA code is invalid or expired
                  details: null
                timestamp: '2024-01-20T15:30:45Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/mfa/disable:
    post:
      tags:
        - MFA
      summary: Disable MFA
      description: |
        Disable MFA for current user. Requires both password and current MFA code 
        for security. This action is logged in the audit trail.
      operationId: disableMFA
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisableMFARequest'
      responses:
        '200':
          description: MFA disabled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: MFA has been disabled
        '400':
          description: Invalid password or MFA code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/mfa/status:
    get:
      tags:
        - MFA
      summary: Get MFA status
      description: Get current MFA configuration status and details
      operationId: getMFAStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: MFA status retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MFAStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/mfa/backup-codes:
    post:
      tags:
        - MFA
      summary: Regenerate backup codes
      description: |
        Generate new backup codes for MFA recovery. This invalidates all previous 
        backup codes. Requires MFA verification.
      operationId: regenerateBackupCodes
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MFAVerifyRequest'
      responses:
        '200':
          description: New backup codes generated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RegenerateBackupCodesResponse'
        '400':
          description: Invalid MFA code or MFA not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/oauth/authorize:
    get:
      tags:
        - OAuth
      summary: OAuth 2.0 authorization endpoint
      description: |
        OAuth 2.0 authorization endpoint (RFC 6749). Initiates authorization code flow 
        or implicit flow. Supports PKCE (RFC 7636) for public clients.
      operationId: authorize
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum:
              - code
              - token
              - id_token
          description: OAuth response type
          example: code
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: OAuth client identifier
          example: client_123
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
            format: uri
          description: Redirect URI (must be pre-registered)
          example: https://client.example.com/callback
        - name: scope
          in: query
          schema:
            type: string
          description: Requested scope (space-separated)
          example: openid profile email
        - name: state
          in: query
          schema:
            type: string
          description: Opaque state value for CSRF protection
          example: xyz123
        - name: code_challenge
          in: query
          schema:
            type: string
          description: PKCE code challenge
          example: E9Melhoa2OwvFrEMTJguCHaoeK1t8URWbuGJSstw-cM
        - name: code_challenge_method
          in: query
          schema:
            type: string
            enum:
              - S256
              - plain
          description: PKCE code challenge method
          example: S256
        - name: nonce
          in: query
          schema:
            type: string
          description: OIDC nonce for replay protection
          example: n-0S6_WzA2Mj
      responses:
        '302':
          description: Redirect to client redirect_uri with authorization code or error
          headers:
            Location:
              schema:
                type: string
              description: Redirect URI with code/error
              examples:
                success:
                  value: https://client.example.com/callback?code=abc123&state=xyz123
                error:
                  value: https://client.example.com/callback?error=invalid_request&error_description=Missing+client_id&state=xyz123
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/v1/oauth/token:
    post:
      tags:
        - OAuth
      summary: OAuth 2.0 token endpoint
      description: |
        OAuth 2.0 token endpoint (RFC 6749). Supports multiple grant types:
        - authorization_code: Exchange authorization code for tokens
        - refresh_token: Refresh access token
        - client_credentials: Client authentication
        - password: Resource owner password credentials (if enabled)
        - urn:ietf:params:oauth:grant-type:token-exchange: RFC 8693 token exchange
      operationId: token
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
      responses:
        '200':
          description: Token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_grant
                  error_description:
                    type: string
                    example: The provided authorization code is invalid or expired
        '401':
          description: Invalid client credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_client
                  error_description:
                    type: string
                    example: Client authentication failed
  /api/v1/oauth/revoke:
    post:
      tags:
        - OAuth
      summary: OAuth 2.0 token revocation
      description: |
        Revoke an access or refresh token (RFC 7009). Revoked tokens become immediately 
        invalid and cannot be used for authentication or refresh operations.
      operationId: revokeToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RevokeTokenRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeTokenRequest'
      responses:
        '200':
          description: Token revoked successfully (or token was already invalid)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Token revoked successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/oauth/introspect:
    post:
      summary: Introspect OAuth 2.0 Token
      description: |
        RFC 7662 - Token introspection endpoint that allows resource servers 
        to query the authorization server about the state and metadata of a token.

        **Security**: Requires client authentication via Basic Auth or client credentials.
      operationId: introspectToken
      tags:
        - OAuth 2.0
      security:
        - basicAuth: []
        - clientCredentials: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: The token to introspect (access or refresh token)
                  example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                token_type_hint:
                  type: string
                  description: Hint about the type of token being introspected
                  enum:
                    - access_token
                    - refresh_token
                  example: access_token
      responses:
        '200':
          description: Token introspection successful
          content:
            application/json:
              schema:
                type: object
                required:
                  - active
                properties:
                  active:
                    type: boolean
                    description: Whether the token is currently active
                    example: true
                  scope:
                    type: string
                    description: Space-separated list of scopes
                    example: read write
                  client_id:
                    type: string
                    description: Client identifier
                    example: client_123
                  username:
                    type: string
                    description: Username of the resource owner
                    example: user@example.com
                  token_type:
                    type: string
                    description: Type of token
                    example: Bearer
                  exp:
                    type: integer
                    description: Token expiration timestamp
                    example: 1735689600
                  iat:
                    type: integer
                    description: Token issuance timestamp
                    example: 1735686000
                  nbf:
                    type: integer
                    description: Token not-before timestamp
                    example: 1735686000
                  sub:
                    type: string
                    description: Subject identifier
                    example: user_123
                  aud:
                    type: string
                    description: Intended audience
                    example: api.example.com
                  iss:
                    type: string
                    description: Issuer identifier
                    example: https://auth.example.com
                  jti:
                    type: string
                    description: JWT ID
                    example: token_abc123
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimit'
  /api/v1/oauth/token-exchange:
    post:
      tags:
        - OAuth
      summary: OAuth 2.0 token exchange
      description: |
        Exchange one token for another (RFC 8693). Supports delegation and impersonation 
        scenarios. Use grant_type=urn:ietf:params:oauth:grant-type:token-exchange.
      operationId: tokenExchange
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
            example:
              grant_type: urn:ietf:params:oauth:grant-type:token-exchange
              subject_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              subject_token_type: urn:ietf:params:oauth:token-type:access_token
              requested_token_type: urn:ietf:params:oauth:token-type:access_token
              audience: https://api.example.com
              scope: read write
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
      responses:
        '200':
          description: Token exchange successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '400':
          description: Invalid token exchange request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_request
                  error_description:
                    type: string
                    example: 'Missing required parameter: subject_token'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/oauth/par:
    post:
      summary: Submit Pushed Authorization Request
      description: |
        RFC 9126 - Allows clients to push the authorization request parameters 
        to the authorization server before initiating the authorization flow.
        Returns a request URI that can be used in the authorization endpoint.

        **Security Benefits**:
        - Prevents authorization request parameter tampering
        - Reduces URL length issues
        - Protects sensitive parameters from browser history
      operationId: pushedAuthorizationRequest
      tags:
        - OAuth 2.0
      security:
        - clientCredentials: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - response_type
                - client_id
                - redirect_uri
              properties:
                response_type:
                  type: string
                  description: OAuth response type
                  example: code
                client_id:
                  type: string
                  description: Client identifier
                  example: client_123
                redirect_uri:
                  type: string
                  format: uri
                  description: Callback URI
                  example: https://app.example.com/callback
                scope:
                  type: string
                  description: Space-separated scopes
                  example: read write
                state:
                  type: string
                  description: Client state for CSRF protection
                  example: random_state_value
                code_challenge:
                  type: string
                  description: PKCE code challenge
                  example: E9Melhoa2OwvFrEMTJguCHaoeK1t8URWbuGJSstw-cM
                code_challenge_method:
                  type: string
                  description: PKCE code challenge method
                  enum:
                    - S256
                    - plain
                  example: S256
                nonce:
                  type: string
                  description: OIDC nonce for ID token
                  example: random_nonce_value
      responses:
        '201':
          description: Authorization request successfully pushed
          content:
            application/json:
              schema:
                type: object
                required:
                  - request_uri
                  - expires_in
                properties:
                  request_uri:
                    type: string
                    description: URI referencing the authorization request
                    example: urn:ietf:params:oauth:request_uri:6esc_11ACC5bwc014ltc14eY22c
                  expires_in:
                    type: integer
                    description: Lifetime of the request URI in seconds
                    example: 90
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimit'
  /api/v1/oauth/device/code:
    post:
      summary: Request Device Authorization
      description: |
        RFC 8628 - Initiates the device authorization flow for input-constrained devices.
        Returns a device code and user code that the user must enter on another device.

        **Use Cases**: Smart TVs, IoT devices, CLI applications, game consoles
      operationId: deviceAuthorizationRequest
      tags:
        - OAuth 2.0
        - Device Flow
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - client_id
              properties:
                client_id:
                  type: string
                  description: Client identifier
                  example: cli_app_123
                scope:
                  type: string
                  description: Space-separated scopes
                  example: read write
      responses:
        '200':
          description: Device authorization initiated
          content:
            application/json:
              schema:
                type: object
                required:
                  - device_code
                  - user_code
                  - verification_uri
                  - expires_in
                properties:
                  device_code:
                    type: string
                    description: Device verification code (client keeps polling with this)
                    example: GmRhmhcxhwAzkoEqiMEg_DnyEysNkuNhszIySk9eS
                  user_code:
                    type: string
                    description: End-user verification code (user types this)
                    example: WDJB-MJHT
                  verification_uri:
                    type: string
                    format: uri
                    description: URI where user should enter the user code
                    example: https://auth.example.com/device
                  verification_uri_complete:
                    type: string
                    format: uri
                    description: Complete URI with user code (for QR codes)
                    example: https://auth.example.com/device?user_code=WDJB-MJHT
                  expires_in:
                    type: integer
                    description: Device code lifetime in seconds
                    example: 1800
                  interval:
                    type: integer
                    description: Minimum polling interval in seconds
                    example: 5
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimit'
  /api/v1/oauth/device/token:
    post:
      summary: Poll for Device Authorization Token
      description: |
        RFC 8628 - Client polls this endpoint to check if the user has completed 
        authorization. Must respect the polling interval to avoid rate limiting.

        **Error Codes**:
        - `authorization_pending`: User hasn't completed authorization yet
        - `slow_down`: Client is polling too frequently
        - `access_denied`: User denied the request
        - `expired_token`: Device code expired
      operationId: deviceTokenPoll
      tags:
        - OAuth 2.0
        - Device Flow
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - device_code
                - client_id
              properties:
                grant_type:
                  type: string
                  description: Must be "urn:ietf:params:oauth:grant-type:device_code"
                  example: urn:ietf:params:oauth:grant-type:device_code
                device_code:
                  type: string
                  description: Device code from authorization request
                  example: GmRhmhcxhwAzkoEqiMEg_DnyEysNkuNhszIySk9eS
                client_id:
                  type: string
                  description: Client identifier
                  example: cli_app_123
      responses:
        '200':
          description: Authorization complete, tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_TokenResponse'
        '400':
          description: Authorization pending or error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                properties:
                  error:
                    type: string
                    enum:
                      - authorization_pending
                      - slow_down
                      - access_denied
                      - expired_token
                    example: authorization_pending
                  error_description:
                    type: string
                    example: User has not yet completed authorization
                  interval:
                    type: integer
                    description: New polling interval (for slow_down error)
                    example: 10
        '429':
          $ref: '#/components/responses/RateLimit'
  /api/v1/oauth/logout:
    get:
      summary: OIDC Front-Channel Logout
      description: |
        OpenID Connect Front-Channel Logout - Initiates logout flow that 
        terminates the user's session across all participating clients.

        **Use Cases**: Enterprise SSO, coordinated logout across multiple applications
      operationId: frontChannelLogout
      tags:
        - OAuth 2.0
        - OpenID Connect
      parameters:
        - name: id_token_hint
          in: query
          required: false
          schema:
            type: string
          description: ID token hint to identify the session
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
        - name: post_logout_redirect_uri
          in: query
          required: false
          schema:
            type: string
            format: uri
          description: Where to redirect after logout
          example: https://app.example.com/logged-out
        - name: state
          in: query
          required: false
          schema:
            type: string
          description: Client state value
          example: random_state_value
      responses:
        '302':
          description: Redirects to post_logout_redirect_uri or confirmation page
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/v1/oauth/backchannel-logout:
    post:
      summary: OIDC Back-Channel Logout
      description: |
        OpenID Connect Back-Channel Logout - Server-to-server logout notification.
        The authorization server POSTs logout tokens to registered client endpoints.

        **Security**: Validates logout token JWT signature
      operationId: backChannelLogout
      tags:
        - OAuth 2.0
        - OpenID Connect
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - logout_token
              properties:
                logout_token:
                  type: string
                  description: JWT logout token
                  example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: Logout processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/oauth/register:
    post:
      summary: Register OAuth Client
      description: |
        RFC 7591 - Dynamically register a new OAuth 2.0 client with the authorization server.

        **Security**: Requires initial registration token or public registration must be enabled.
        **Use Cases**: SaaS platforms, multi-tenant applications, developer portals
      operationId: registerClient
      tags:
        - OAuth 2.0
        - Client Management
      security:
        - bearerAuth: []
        - registrationToken: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientRegistrationRequest'
      responses:
        '201':
          description: Client registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientRegistrationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimit'
  /api/v1/oauth/register/{client_id}:
    get:
      summary: Get OAuth Client Configuration
      description: |
        RFC 7591 - Retrieve the current configuration of a dynamically registered client.

        **Security**: Requires registration access token from registration response.
      operationId: getClientConfiguration
      tags:
        - OAuth 2.0
        - Client Management
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ClientId'
      responses:
        '200':
          description: Client configuration retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientRegistrationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update OAuth Client Configuration
      description: |
        RFC 7591 - Update the configuration of a dynamically registered client.

        **Security**: Requires registration access token. Cannot update all fields.
      operationId: updateClientConfiguration
      tags:
        - OAuth 2.0
        - Client Management
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientRegistrationRequest'
      responses:
        '200':
          description: Client updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientRegistrationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete OAuth Client
      description: |
        RFC 7591 - Delete a dynamically registered client.

        **Security**: Requires registration access token. Revokes all tokens.
      operationId: deleteClient
      tags:
        - OAuth 2.0
        - Client Management
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ClientId'
      responses:
        '204':
          description: Client deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/oauth/jwks:
    get:
      tags:
        - OAuth
        - OIDC
      summary: JSON Web Key Set
      description: |
        JWKS endpoint containing public keys for JWT signature verification (RFC 7517).
        Clients should cache this and refresh periodically or when signature verification fails.
      operationId: jwks
      responses:
        '200':
          description: JSON Web Key Set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwkSet'
  /api/v1/oauth/userinfo:
    get:
      tags:
        - OAuth
        - OIDC
      summary: OpenID Connect UserInfo
      description: |
        OIDC UserInfo endpoint (OIDC Core 5.3). Returns claims about the authenticated user.
        Requires valid access token with 'openid' scope.
      operationId: userinfo
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResponse'
        '401':
          description: Invalid or missing access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or expired
        '403':
          description: Insufficient scope (openid scope required)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: insufficient_scope
                  error_description:
                    type: string
                    example: The request requires 'openid' scope
  /api/v1/security/check-ip:
    post:
      summary: Check IP Reputation
      description: |
        Check the reputation of an IP address against threat intelligence feeds.
        Returns risk level, whether the IP is malicious, and associated threat categories.

        **Use Cases**:
        - Fraud prevention before allowing high-risk actions
        - Additional verification for suspicious login attempts
        - Rate limiting or blocking decisions
        - Security audit logging

        **Security**: 
        - Requires authentication (Bearer token)
        - Requires `security:check_ip` permission
        - Rate limited to prevent abuse (100 requests per minute per user)
        - Audit logged for security review

        **Data Sources**:
        - Internal threat intelligence feeds (if configured)
        - Cached results to improve performance
        - Real-time lookups for unknown IPs
      operationId: checkIpReputation
      tags:
        - Security
        - Threat Intelligence
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ip_address
              properties:
                ip_address:
                  type: string
                  format: ipv4-or-ipv6
                  description: IP address to check (IPv4 or IPv6)
                  example: 192.168.1.100
                check_context:
                  type: string
                  description: Context for the check (e.g., "login", "api_access", "transaction")
                  example: login
                  enum:
                    - login
                    - registration
                    - api_access
                    - transaction
                    - admin_action
                    - other
      responses:
        '200':
          description: IP reputation check completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ip_address:
                    type: string
                    description: IP address that was checked
                    example: 192.168.1.100
                  is_malicious:
                    type: boolean
                    description: Whether the IP is flagged as malicious
                    example: false
                  risk_level:
                    type: string
                    enum:
                      - low
                      - medium
                      - high
                      - critical
                    description: Overall risk level assessment
                    example: low
                  risk_score:
                    type: integer
                    minimum: 0
                    maximum: 100
                    description: Numeric risk score (0 = safe, 100 = highest risk)
                    example: 15
                  categories:
                    type: array
                    items:
                      type: string
                    description: Threat categories associated with this IP
                    example: []
                  details:
                    type: object
                    description: Detailed threat intelligence information
                    properties:
                      is_tor_exit:
                        type: boolean
                        description: Whether IP is a Tor exit node
                        example: false
                      is_vpn:
                        type: boolean
                        description: Whether IP is a VPN endpoint
                        example: false
                      is_proxy:
                        type: boolean
                        description: Whether IP is a proxy server
                        example: false
                      is_datacenter:
                        type: boolean
                        description: Whether IP is from a datacenter
                        example: false
                      is_residential:
                        type: boolean
                        description: Whether IP is a residential connection
                        example: true
                      country:
                        type: string
                        description: Country code (ISO 3166-1 alpha-2)
                        example: US
                      asn:
                        type: integer
                        description: Autonomous System Number
                        example: 7922
                      asn_name:
                        type: string
                        description: Autonomous System Name
                        example: Comcast Cable Communications
                      last_seen:
                        type: string
                        format: date-time
                        description: When this IP was last seen in threat feeds
                        example: null
                      first_seen:
                        type: string
                        format: date-time
                        description: When this IP was first seen in threat feeds
                        example: null
                      feed_sources:
                        type: array
                        items:
                          type: string
                        description: Threat feed sources that flagged this IP
                        example: []
                  metadata:
                    type: object
                    properties:
                      check_timestamp:
                        type: string
                        format: date-time
                        description: When the check was performed
                        example: '2025-10-01T12:00:00Z'
                      cache_hit:
                        type: boolean
                        description: Whether result was from cache
                        example: true
                      cache_age_seconds:
                        type: integer
                        description: Age of cached result in seconds
                        example: 300
                      feeds_checked:
                        type: integer
                        description: Number of threat feeds checked
                        example: 5
                  recommendations:
                    type: object
                    description: Recommended actions based on risk level
                    properties:
                      allow:
                        type: boolean
                        description: Whether to allow the action
                        example: true
                      require_additional_auth:
                        type: boolean
                        description: Whether to require additional authentication (e.g., MFA)
                        example: false
                      block:
                        type: boolean
                        description: Whether to block the action
                        example: false
                      rate_limit:
                        type: boolean
                        description: Whether to apply stricter rate limiting
                        example: false
                      log_for_review:
                        type: boolean
                        description: Whether to flag for security review
                        example: false
                required:
                  - ip_address
                  - is_malicious
                  - risk_level
                  - risk_score
                  - categories
                  - details
                  - metadata
                  - recommendations
              examples:
                safe_ip:
                  summary: Safe residential IP
                  value:
                    ip_address: 192.168.1.100
                    is_malicious: false
                    risk_level: low
                    risk_score: 5
                    categories: []
                    details:
                      is_tor_exit: false
                      is_vpn: false
                      is_proxy: false
                      is_datacenter: false
                      is_residential: true
                      country: US
                      asn: 7922
                      asn_name: Comcast Cable Communications
                      last_seen: null
                      first_seen: null
                      feed_sources: []
                    metadata:
                      check_timestamp: '2025-10-01T12:00:00Z'
                      cache_hit: true
                      cache_age_seconds: 300
                      feeds_checked: 5
                    recommendations:
                      allow: true
                      require_additional_auth: false
                      block: false
                      rate_limit: false
                      log_for_review: false
                suspicious_vpn:
                  summary: Suspicious VPN IP
                  value:
                    ip_address: 45.142.212.61
                    is_malicious: false
                    risk_level: medium
                    risk_score: 45
                    categories:
                      - vpn
                      - anonymizer
                    details:
                      is_tor_exit: false
                      is_vpn: true
                      is_proxy: false
                      is_datacenter: true
                      is_residential: false
                      country: NL
                      asn: 60068
                      asn_name: CDN77.com
                      last_seen: null
                      first_seen: null
                      feed_sources: []
                    metadata:
                      check_timestamp: '2025-10-01T12:00:00Z'
                      cache_hit: false
                      cache_age_seconds: 0
                      feeds_checked: 5
                    recommendations:
                      allow: true
                      require_additional_auth: true
                      block: false
                      rate_limit: true
                      log_for_review: true
                malicious_ip:
                  summary: Known malicious IP
                  value:
                    ip_address: 185.220.101.35
                    is_malicious: true
                    risk_level: critical
                    risk_score: 95
                    categories:
                      - tor_exit
                      - malware_c2
                      - brute_force
                    details:
                      is_tor_exit: true
                      is_vpn: false
                      is_proxy: false
                      is_datacenter: true
                      is_residential: false
                      country: DE
                      asn: 202425
                      asn_name: IP Volume inc
                      last_seen: '2025-10-01T10:30:00Z'
                      first_seen: '2025-09-15T08:00:00Z'
                      feed_sources:
                        - spamhaus_drop
                        - emerging_threats
                        - tor_exits
                    metadata:
                      check_timestamp: '2025-10-01T12:00:00Z'
                      cache_hit: true
                      cache_age_seconds: 120
                      feeds_checked: 5
                    recommendations:
                      allow: false
                      require_additional_auth: false
                      block: true
                      rate_limit: true
                      log_for_review: true
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: invalid_ip_address
                message: The provided IP address format is invalid
                details:
                  ip_address: not-an-ip
                  expected_format: IPv4 or IPv6
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: insufficient_permissions
                message: 'User lacks required permission: security:check_ip'
                details:
                  required_permission: security:check_ip
                  user_permissions:
                    - read:profile
                    - write:profile
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: rate_limit_exceeded
                message: IP reputation check rate limit exceeded (100 requests per minute)
                details:
                  limit: 100
                  window_seconds: 60
                  retry_after_seconds: 45
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying
              example: 45
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Rate limit ceiling
              example: 100
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining
              example: 0
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when limit resets
              example: 1735689645
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/rbac/roles:
    get:
      tags:
        - RBAC
      summary: List all roles
      description: |
        Get paginated list of all roles in the system. Includes system roles and 
        custom roles. Supports filtering and sorting.
      operationId: listRoles
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - name: include_system
          in: query
          description: Include system-defined roles
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - RBAC
      summary: Create new role
      description: |
        Create a new custom role with specified permissions. Role names must be unique 
        and follow naming conventions (lowercase, hyphens, underscores only).
      operationId: createRole
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
      responses:
        '201':
          description: Role created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Role name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/rbac/roles/{role_name}:
    get:
      tags:
        - RBAC
      summary: Get role details
      description: Get complete details of a specific role including permissions and hierarchy
      operationId: getRole
      security:
        - bearerAuth: []
      parameters:
        - name: role_name
          in: path
          required: true
          description: Role name or ID
          schema:
            type: string
          example: content-moderator
      responses:
        '200':
          description: Role details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - RBAC
      summary: Update role
      description: |
        Update an existing role's display name, description, or permissions.
        System roles cannot be modified.
      operationId: updateRole
      security:
        - bearerAuth: []
      parameters:
        - name: role_name
          in: path
          required: true
          description: Role name or ID
          schema:
            type: string
          example: content-moderator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
      responses:
        '200':
          description: Role updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Role'
        '400':
          description: Cannot modify system role or invalid update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - RBAC
      summary: Delete role
      description: |
        Delete a custom role. System roles cannot be deleted. All user assignments 
        to this role will be removed. This action is irreversible and logged.
      operationId: deleteRole
      security:
        - bearerAuth: []
      parameters:
        - name: role_name
          in: path
          required: true
          description: Role name or ID
          schema:
            type: string
          example: content-moderator
      responses:
        '200':
          description: Role deleted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Role 'content-moderator' deleted successfully
                          affected_users:
                            type: integer
                            description: Number of users who had this role
                            example: 12
        '400':
          description: Cannot delete system role or role in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/rbac/users/{user_id}/roles:
    get:
      tags:
        - RBAC
      summary: Get user's roles
      description: Get all role assignments for a specific user including expiration information
      operationId: getUserRoles
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: User identifier
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: User's role assignments
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user_id:
                            type: string
                            format: uuid
                          roles:
                            type: array
                            items:
                              $ref: '#/components/schemas/RoleAssignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/rbac/assign:
    post:
      tags:
        - RBAC
      summary: Assign role to user
      description: |
        Assign a role to a user. Supports temporal access with optional expiration.
        Assignment is logged in audit trail.
      operationId: assignUserRole
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignRoleRequest'
      responses:
        '200':
          description: Role assigned successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RoleAssignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: User or role not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/rbac/revoke:
    delete:
      tags:
        - RBAC
      summary: Revoke role from user
      description: |
        Remove a role assignment from a user. Revocation is immediate and logged.
      operationId: revokeUserRole
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: query
          required: true
          description: User identifier
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: role_name
          in: query
          required: true
          description: Role name to revoke
          schema:
            type: string
          example: content-moderator
      responses:
        '200':
          description: Role revoked successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Role 'content-moderator' revoked from user
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: User, role, or assignment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/rbac/bulk-assign:
    post:
      tags:
        - RBAC
      summary: Bulk assign roles
      description: |
        Assign multiple roles to multiple users in a single operation.
        Supports up to 100 assignments per request. Partial success is possible.
      operationId: bulkAssignRoles
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAssignRolesRequest'
      responses:
        '200':
          description: Bulk assignment results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          successful:
                            type: integer
                            description: Number of successful assignments
                            example: 95
                          failed:
                            type: integer
                            description: Number of failed assignments
                            example: 5
                          errors:
                            type: array
                            description: Details of failed assignments
                            items:
                              type: object
                              properties:
                                index:
                                  type: integer
                                  example: 7
                                user_id:
                                  type: string
                                  example: 123e4567-e89b-12d3-a456-426614174000
                                role_name:
                                  type: string
                                  example: invalid-role
                                error:
                                  type: string
                                  example: Role not found
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/rbac/check-permission:
    post:
      tags:
        - RBAC
      summary: Check user permission
      description: |
        Check if a user has a specific permission. Returns detailed explanation including 
        which roles grant the permission. Useful for authorization decisions.
      operationId: checkPermission
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPermissionRequest'
      responses:
        '200':
          description: Permission check result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CheckPermissionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/rbac/elevate:
    post:
      tags:
        - RBAC
      summary: Temporarily elevate to higher role
      description: |
        Request temporary elevation to a higher privilege role (e.g., admin). 
        Requires justification and is time-limited (max 1 hour). All actions during 
        elevation are logged. Subject to approval workflow if configured.
      operationId: elevateRole
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElevateRoleRequest'
      responses:
        '200':
          description: Role elevation granted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          elevation_id:
                            type: string
                            format: uuid
                            example: 550e8400-e29b-41d4-a716-446655440000
                          role_name:
                            type: string
                            example: admin
                          expires_at:
                            type: string
                            format: date-time
                            example: '2024-01-20T16:30:45Z'
                          message:
                            type: string
                            example: Elevated to 'admin' role for 1800 seconds
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Not authorized to elevate to requested role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/v1/rbac/audit-logs:
    get:
      tags:
        - RBAC
      summary: Get RBAC audit logs
      description: |
        Retrieve paginated audit logs of all RBAC operations. Includes role creation, 
        updates, deletions, assignments, revocations, permission checks, and elevations.
        Supports filtering by action type, actor, date range, and target.
      operationId: getAuditLogs
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: action
          in: query
          description: Filter by action type
          schema:
            type: string
            enum:
              - role_created
              - role_updated
              - role_deleted
              - role_assigned
              - role_revoked
              - permission_checked
              - role_elevated
          example: role_assigned
        - name: actor
          in: query
          description: Filter by actor user ID
          schema:
            type: string
            format: uuid
          example: 789e0123-e45b-67d8-a901-234567890abc
        - name: start_date
          in: query
          description: Filter logs after this date (ISO 8601)
          schema:
            type: string
            format: date-time
          example: '2024-01-01T00:00:00Z'
        - name: end_date
          in: query
          description: Filter logs before this date (ISO 8601)
          schema:
            type: string
            format: date-time
          example: '2024-01-31T23:59:59Z'
      responses:
        '200':
          description: Audit log entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/admin/users:
    get:
      tags:
        - Admin
      summary: List all users (admin)
      description: |
        Get paginated list of all users in the system. Supports filtering by status, 
        role, email verification, and MFA status. Includes full user details.
      operationId: listUsers
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - name: status
          in: query
          description: Filter by account status
          schema:
            type: string
            enum:
              - active
              - suspended
              - locked
              - deleted
          example: active
        - name: role
          in: query
          description: Filter by role name
          schema:
            type: string
          example: admin
        - name: mfa_enabled
          in: query
          description: Filter by MFA status
          schema:
            type: boolean
          example: true
        - name: email_verified
          in: query
          description: Filter by email verification status
          schema:
            type: boolean
          example: true
        - name: search
          in: query
          description: Search by username or email
          schema:
            type: string
          example: john
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
      summary: Create new user (admin)
      description: |
        Create a new user account with specified roles and settings. Optionally send 
        welcome email with account setup instructions.
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Username or email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
  /api/v1/admin/users/{user_id}:
    get:
      tags:
        - Admin
      summary: Get user details (admin)
      description: Get complete details of a specific user including roles, sessions, and audit trail
      operationId: getUser
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: User identifier
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/UserProfile'
                          - type: object
                            properties:
                              active_sessions:
                                type: integer
                                description: Number of active sessions
                                example: 3
                              failed_login_attempts:
                                type: integer
                                description: Recent failed login attempts
                                example: 0
                              last_password_change:
                                type: string
                                format: date-time
                                description: Last password change timestamp
                                example: '2024-01-15T10:20:30Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Admin
      summary: Update user (admin)
      description: |
        Update user account details including email, roles, and account status.
        Can be used to suspend, lock, or reactivate accounts.
      operationId: updateUser
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: User identifier
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Admin
      summary: Delete user (admin)
      description: |
        Delete user account. This action is irreversible. Optionally perform soft delete 
        (mark as deleted) or hard delete (permanent removal). All user sessions are 
        immediately terminated.
      operationId: deleteUser
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: User identifier
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: hard_delete
          in: query
          description: Perform permanent deletion (cannot be undone)
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: User deleted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: User deleted successfully
                          sessions_terminated:
                            type: integer
                            description: Number of active sessions terminated
                            example: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/admin/stats:
    get:
      tags:
        - Admin
      summary: Get system statistics (admin)
      description: |
        Get comprehensive system-wide statistics including users, sessions, OAuth, 
[...]
